.fixed-top {position: fixed; top: 0; width: 100%; z-index: 1;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















