
.button {
    @include ctabutton( $secondary_color );

    color: $light_color;

    @include topbottomborder(10px);
}


.button2 {
    @include topbottomborder(2px);

    span {
        @extend .button;
        color: green;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



ul {
    @include clearlist;

}
