
@mixin topbottomborder( $size ) {
    border-top: $size solid black;
    border-bottom: $size solid black;
}

@mixin clearlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin hoverstates {
    &:active {
        text-decoration: underline;
    }
    &:hover {
        background-color: black;
    }
}

@mixin ctabutton ($bg) {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: $bg;

    @include hoverstates;
}