.button, .button2 span {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #00f;
  color: #fff;
  border-top: 10px solid black;
  border-bottom: 10px solid black; }
  .button:active, .button2 span:active {
    text-decoration: underline; }
  .button:hover, .button2 span:hover {
    background-color: black; }

.button2 {
  border-top: 2px solid black;
  border-bottom: 2px solid black; }
  .button2 span {
    color: green; }
    .button2 span a {
      text-decoration: none; }
      .button2 span a:hover {
        text-decoration: underline; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=style.css.map */
